<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="RUNTIME-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<param name="file" value="runtime.log" />
		<param name="Encoding" value="UTF-8" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c{2} - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
	        <param name="LevelMin" value="DEBUG"/>
	        <param name="LevelMax" value="WARN"/>
	        <param name="acceptOnMatch" value="true"/>
        </filter>
	</appender>
	<root>
    	<priority value ="INFO" />
    	<appender-ref ref="RUNTIME-APPENDER" />
    </root>
</log4j:configuration>